@import "header";

header {
    background-color: $header-color;
    text-align: $header-align;
    h1 {
        color: $header-titles;
    }
    p {
        color: $header-titles;
    }
    button {
        background-color: $header-button;
        color: $header-titles;
    }
}

@import "main";

main {
    h2 {
        text-align: center;
        padding-bottom: 1em;
    }
    article{
        padding-bottom: 1em;
        p {
            text-transform: uppercase;
        }
        h4 {
            text-transform: capitalize;
        }
    }
}
@import "footer";

footer {
    background-color: $primary-color;
    text-align: center;
    h4 {
        color: $titles-color;
        text-transform: capitalize;
    }
    li {
        color: $nav-color;
    }
    button {
        background-color: $primary-color;
        color: $titles-color;
    }
}

li {
    list-style: none;
}
