@import "header";

header {
    background-color: $header-color;
    text-align: $header-align;
    h1 {
        color: $header-titles;
    }
    p {
        color: $header-titles;
    }
    button {
        background-color: $header-button;
        color: $header-titles;
    }
}

@import "main";

main {
    p {
        text-transform: uppercase;
    }
    h4 {
        text-transform: capitalize;
    }
}
@import "footer";

footer {
    background-color: $primary-color;
    h3 {
        color: $titles-color;
    }
    li {
        color: $nav-color;
    }
    button {
        background-color: $primary-color;
        color: $titles-color;
    }
}

li {
    list-style: none;
}
